@import "vars.css";
@import "layout.css";
@import "mie.css";

nav {
  /*height: var(--navbar-height);*/
  /*max-height: 60px;*/
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #2196F3;
  color: #FFF;
}

.files-list {
  list-style: none;
}

.files-list a {
  color: var(--bs-body-color-rgb);
}

.files-list__item {
  cursor: pointer;

  white-space: nowrap;

  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}


/*
var(--bs-table-hover-bg);
*/
.files-list__item:hover {
  background: rgba(0, 0, 0, 0.075);
}
@media (prefers-color-scheme: dark) {
  .files-list__item:hover {
    background: rgba(250, 250, 250, 0.075);
  }
}

.files-list__item.active:hover, .files-list__item.active {
  background: var(--bs-warning);
  color: var(--bs-white);
}

.files-list__item > i {
  display: inline-block;
  width: 0px;
  padding-right: 20px;
}

.files-list__item > span.file-name {
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1
}

.jobs-list__item.active:hover, .jobs-list__item.active {
  background: var(--bs-primary);
  color: var(--bs-white);
}

/* Autolinker */

.token a {
  color: inherit;
}

pre[class*=language-] {
  margin-top: 0 !important;
}

.log-viewer {
  margin-bottom: 0 !important;
  white-space:pre-wrap
}

.log-viewer code[class*="language-"],
.log-viewer pre[class*="language-"] {
  color: inherit !important;
}

.modal.open {
  display: block;
}

.modals {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modals:empty {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  .bg-nav {
    background: var(--bs-dark);
  }
}

.text-git-del {
  color: var(--bs-red) !important;
}
.text-git-new {
  color: var(--bs-green) !important;
}
.text-git-mod {
  color: var(--bs-cyan) !important;
}

.text-danger {
  color: var(--bs-red);
}
.text-success {
  color: var(--bs-green);
}
.text-warning {
  color: var(--bs-orange);
}

.is-warning {
  background: var(--bs-warning);
}

a[disabled] {
  cursor: not-allowed !important;
}

.badge-primary {
  color: var(--bs-white);
  background-color: var(--bs-danger);
}

.nav-tabs.nav-horizontal .nav-link.active {
  margin-right: -1px;
  margin-bottom: initial;
}

.nav-tabs.nav-horizontal .nav-link.active {
  border-color: var(--bs-dark) var(--bs-body-bg) var(--bs-dark) var(--bs-dark);
}

.nav-tabs.nav-horizontal {
  border-right: 1px solid var(--bs-dark);
  border-bottom: none;
}

.border-left-0 {
  border-left: none;
}

.mh-90 {
  max-height: 90vh !important;
}
