@import "vars.css";
@import "layout.css";
@import "mie.css";

nav {
  /*height: var(--navbar-height);*/
  /*max-height: 60px;*/
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #2196F3;
  color: #FFF;
}

.files-list {
  list-style: none;
}

.files-list a {
  color: var(--bs-dark);
}

.files-list > li {
  cursor: pointer;

  white-space: nowrap;

  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.files-list > li:hover {
  background: var(--bs-secondary);
}
.files-list > li.active:hover, .files-list > li.active {
  background: var(--bs-primary);
  color: var(--bs-white);
}

.files-list > li > i {
  display: inline-block;
  width: 0px;
  padding-right: 20px;
}

.files-list > li > span.file-name {
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1
}

/* Autolinker */

.token a {
  color: inherit;
}

pre[class*=language-] {
  margin-top: 0 !important;
}

.log-viewer {
  margin-bottom: 0 !important;
  white-space:pre-wrap
}

.log-viewer code[class*="language-"],
.log-viewer pre[class*="language-"] {
  color: inherit !important;
}

.modal.open {
  display: block;
}

.modals {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modals:empty {
  display: none;
}
