:root {
  --sidebar-width: 600px;
}

/**
 * Body CSS
 */
html,
body,
#app, #main {
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
}

/**
 * Layout CSS
 */
#header {
  /*position: fixed;*/
  /*top: 0;*/
  /*right: 0;*/
  /*left: 0;*/
  z-index: 2;
  transition: left 0.2s;
}

header a {
  color: white;
}

#sidedrawer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  left: calc(-1 * var(--sidebar-width));
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper > main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--sidebar-width);
  right: 0;
  overflow: auto;
}

#main.hide-sidedrawer #sidedrawer {
  display: none;
}


#main.hide-sidedrawer #content-wrapper > main {
  left: 0;
}

#content-wrapper {
  overflow: auto;
  transition: margin-left 0.2s;
  flex: 1 1 auto;
  position: relative;
}

#footer {
  height: 160px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    /*margin-left: 200px;*/
  }

  #sidedrawer {
    transform: translate(var(--sidebar-width));
  }

  #main.hide-sidedrawer #header {
    left: 0;
  }

  #main.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
}

/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(var(--sidebar-width));
}

/**
 * Header CSS
 */
.sidedrawer-toggle {
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  text-decoration: none;
}

.mui-table td {
  vertical-align: top;
}

.mui-table.mui-table--bordered>tbody>tr>th {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

ul.mui-tabs__bar {
  overflow: initial;
}

ul.mui-tabs__bar li {
  cursor: pointer;
}
ul.mui-tabs__bar>li>a {
  cursor: pointer;
  text-underline: none !important;
}

.mui-tab__dropdown:hover .mui-dropdown__menu {
  display: block;
  top: 32px;
}

.mui-table--hover tr:hover {
  background: #BDBDBD;
}

.mui-table--clickable tbody tr {
  cursor: pointer;
}

/* Autolinker */

.token a {
  color: inherit;
}

pre[class*=language-] {
  margin-top: 0 !important;
}
