name: Develop Server Deploy

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: wgd-dev

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: npm

    - name: Build
      run: docker build -t wikigdrive-prod --build-arg "GIT_SHA=${GITHUB_SHA}" .

    - name: Stop
      run: docker stop wikigdrive-develop
      continue-on-error: true

    - name: Remove
      run: docker rm wikigdrive-develop
      continue-on-error: true

    - name: Start
      run: |
        docker run -d --name wikigdrive-develop \
          -v wikiGDriveDevelop:/data \
          -v /home/githubactions/wikigdrive/service_account.json:/service_account.json \
          --publish 127.0.0.1:4000:3000 \
          --restart unless-stopped \
          wikigdrive-develop wikigdrive-ts \
          --service_account /service_account.json \
          --share_email mie-docs-wikigdrive@wikigdrive.iam.gserviceaccount.com \
          --workdir /data \
          server 3000
