name: Develop Server Deploy

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: wgd-dev

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: npm

    - uses: whoan/docker-build-with-cache-action@v5
      with:
        image_name: "wikigdrive-develop"
        image_tag: "${{ github.sha }},latest"
        push_image_and_stages: false
        build_extra_args: "{'--build-arg': 'GIT_SHA=${{ github.sha }}'}"

    - name: Build hugo renderer
      run: docker build -t "hugo-render:develop" --build-arg "GIT_SHA=${GITHUB_SHA}" apps/hugo-render

    - name: Stop and remove
      run: docker stop wikigdrive-develop ; docker rm wikigdrive-develop
      continue-on-error: true

    - name: Start
      run: |
        docker run -d --name wikigdrive-develop \
          --restart unless-stopped \
          -v wikiGDriveDevelop:/data \
          -v /home/githubactions/wikigdrive/service_account.json:/service_account.json \
          -v /home/githubactions/wikigdrive/env.develop:/usr/src/app/.env \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -e "GIT_SHA=${GITHUB_SHA}" \
          --publish 127.0.0.1:4000:3000 \
          "wikigdrive-develop:${GITHUB_SHA}" wikigdrive-ts \
          --service_account /service_account.json \
          --share_email mie-docs-wikigdrive@wikigdrive.iam.gserviceaccount.com \
          --workdir /data \
          server 3000
