name: Dev Server Test/Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: wgd-dev

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - name: Build
      run: docker build -t wikigdrive-prod .

    - name: Stop
      run: docker stop wikigdrive-prod
      continue-on-error: true

    - name: Remove
      run: docker rm wikigdrive-prod
      continue-on-error: true

    - name: Start
      run: docker run -d --name wikigdrive-prod --mount type=bind,source=/var/www/folder-prod,target=/data --publish 127.0.0.1:3000:3000 wikigdrive-prod
